<html>
<head>
    <title>Agenda</title>
</head>
<body>
    <h1>Criar novo procedimento</h1>
    <form th:action="@{/procedimento/criar}" method="post" th:object="${criarProcedimentoRequest}">
        <label for="nome">
            <span>Nome</span>
            <input id="nome" th:field="*{nome}" type="text" required>
        </label>
        <br><br>
        <label for="valor">
            <span>Valor R$</span>
            <input id="valor" th:field="*{valor}" type="text" required>
        </label>
        <br><br>
        <div>
            <button type="button"><a href="/procedimento">Cancelar</a></button>
            <button type="submit">Salvar</button>
        </div>
    </form>
    <div th:if="${erro}">
        <p th:text="${erro}"></p>
    </div>
</body>
</html>